@charset "UTF-8";
@font-face {
  font-family: Adlery-pro;
  src: url(../assets/Fontes/adlery-pro.ttf);
}

@font-face {
    font-family: benedict;
    src: url(../assets/Fontes/Benedict.ttf);
}

@font-face {
    font-family: telegraf mediun;
    src: url(../assets/Fontes/Telegraf\ mediun.otf)
}

@font-face {
    font-family: telegraf;
    src: url(../assets/Fontes/Telegraf.otf)
}

@font-face {
    font-family: arimo;
    src: url(../assets/Fontes/Arimo.ttf);
}

@font-face{
    font-family: telegraf ligh;
    src: url(../assets/Fontes/Telegraf\ Light.otf);
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

h2 {
    font-family: telegraf mediun;
    font-size: 60px;
}

button {
    font-family: telegraf ligh;
    letter-spacing: 2px;
}

p:not(.rodape) {
    font-family: telegraf;
    font-size: 25px;
}

.sessao1 {
    display: flex;
    background-color: rgb(0, 0, 0);
    margin: 20px;
    border: rgb(0, 0, 0) solid;
    border-radius: 20px;
    box-shadow:rgb(0, 0, 0) 10px 5px 10px;
}

.sessao1 h1 {
    font-size: 150px;
    font-family: adlery-pro;
    letter-spacing: 2px;
}

.sessao1 h2 {
    font-family: benedict;
    font-size: 60px;
    margin-left: 110px;
    margin-top: -70px;
    letter-spacing: 5px;
}
.sessao1-texto{
    margin: auto;
    color: white;
    text-align: center;
}

.sessao1-img{
    margin: auto;
    margin-top: 55px;
}

.sessao1 a {
    margin-left: 280px;
}

.sessao2 {
    display: flex;
    background-color: #BC1823;
    color: white; 
    margin: 20px;
    border: rgb(0, 0, 0) solid;
    border-radius: 20px;
    box-shadow:rgb(0, 0, 0) 10px 5px 10px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sessao2 h2 {
   font-family: telegraf mediun;
   font-size: 80px;
}

.sessao2-texto {
    margin: auto;
    margin-left: 20px;
    margin-right: 50px;
    text-align: justify;
}

.sessao2-img {
    margin: auto;
    margin-left: 50px;
}

.sessao3 {
    background-color: rgb(238, 234, 234);
    text-align: center;
    padding: 5%;
    margin: 20px;
    border: rgb(0, 0, 0) solid;
    border-radius: 20px;
    box-shadow:rgb(0, 0, 0) 10px 5px 10px ;
}

.sessao3 button {
    font-size: 20px;
    border: black;
    border-radius: 50px;
    background-color: #BC1823;
    color: white;
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 50px;
    cursor: pointer;
}

.sessao3 button a {
    text-decoration: none;
    color: white;
}

.sessao3 h2 {
    margin: 0;
}

.sessao3-1 {
    display: flex;
    text-align: center;
    padding: 20px;

}

.setinha {
    padding-top: 40px;
}

.sessao3-imagens {
    border: rgb(255, 255, 255) solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 60px;
}



.sessao4 {
    background-color: #BC1823;
    text-align: center;
    color: white;
    margin: 20px;
    border: rgb(0, 0, 0) solid;
    border-radius: 20px;
    box-shadow:rgb(0, 0, 0) 10px 5px 10px;
}

.sessao4-1 {
    display: flex;
}

.sessao4-1 div {
    padding-left: 7%;
    padding-right: 7%;
    align-items: center;
    justify-content: center;
}

.sessao4-1 div .icone {
    padding-left: 50px;
}

.sessao4-1 p {
    font-size: 20px;
}

.sessao4-1 .nome {
    font-size: 28px;
}

.sessao4-1 .estrelinhas {
    padding-bottom: 50px;
    padding-top: px;
}

.sessao4 h2{
    padding: 50px;
}

.sessao5 {
    display: flex;
    color: rgb(7, 0, 0);
    margin: 20px;
    background-color: #FAB819;
    border-radius: 20px;
    box-shadow:#020000 10px 5px 10px;
    font-size: 25px;
}

.fale-conosco  {
    display: flex;
}

.fale-conosco img {
    border-radius: 28%;
    margin: 20px;

}

.fale-conosco p {
    margin-right: 25%;
}

.fale-conosco button {
    font-size: 25px;
    border: black;
    border-radius: 50px;
    background-color: #33ac28;
    color: white;
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 50px;
    cursor: pointer;
}

.siga-nos {
    margin-left: 57%;
}

#contato img {
    border-radius: 20px;
    margin: 20px;
    margin-right: 45px;
}

 .icones {
    display: flex;
    margin-left: 100px; 
    text-align: center; 
    flex-direction: column;
}

.icones div {
    padding-left: 100px;
}

.icones12 {
    flex-direction: row;
    display: flex;
    padding-left: 10px;
}

.sessao5 .icones img {
    border-radius: 20px;
    margin-right: 45px;
}

footer{
    text-align: center;
    font-size: 17px;
    margin-left: 110px;
    padding-top: 10px;
    font-family: arimo;
    margin-left: 28%;
}
/*------------------------INICIO DO MENU--------------------------*/
#menu {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
}

.menuInicio, .menuMenu {
    margin-right: 10px;
    background-color: #BC1823;
    border-radius: 30px;
    letter-spacing: 2px; /*Espaçamento das letras*/
}

.menuContact {
    margin-right: 10px;
    background-color: #FAB819;
    border-radius: 30px;
    letter-spacing: 2px; /*Espaçamento das letras*/
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    margin-left: auto; /*Retirando fica o meno lado esquerdo.*/
}

#menu li {
    display: flex;
}

#menu li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*---------------------------------------*/
#menu li a:hover {
    transition: 0.6s;
    padding: 18px; /*Efeito no menu*/
}
/*---------------------------------------*/
.sub-menu{
    margin-right: 10px;
    background-color: #FAB819;
    border-radius: 10px;
    letter-spacing: 2px; /*Espaçamento das letras*/
    border-radius: 30px;
}

#menu .sub-menu-items {
    display: none; /*Ocultando menu aparece só quando passar mouse por cima*/
    color: rgb(3, 3, 3); /*Cor do sub menu*/
    background-color:#BC1823;
}
  
#menu .sub-menu:hover .sub-menu-items {
    display:flex; /* Concerta o menu entrar e cadastro*/
}

/*------------------------Final do menu--------------------------*/

/*---------------------------------------MENU LATERAL - Inicio---------------------------*/

   /*MENU LATERAL*/

aside {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    
}

.sidebar-box {
    width: 250px;
    height: 100vh;
    background-color: white;
    color: black;
    font-size: 25pt;
    text-align: center;
    margin: 0;
    padding: 0px;
    transition: all 0.4s ease; 
}

.sidebar-box-content {
    padding: 10px;   /*div separada pois o padding no sidebar-box fazia não esconder a barra lateral corretamente*/
}

.sidebar-txt {
    margin-top: 35px;
    border: 0.5px solid black; 
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.sidebar-txt a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.sidebar-txt:hover {
    background-color: rgb(184, 184, 184);
    transition: 0.2s;
    transform: scale(0.9);
}

#sidebar-user {
    
    border: none;
    border-bottom: 0.5px solid black;
    border-top: 0.5px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#sidebar-user p {
    font-size: 25pt;
    font-weight: 700;
}

.sidebar-button {
    display: flex;
    top: 0;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
}

/*Essas classes são para o JS alterar dinamicamente entre as propriedades normais aplicadas nas classes e as de ocultar, escondendo a barra lateral */
.hidden {
    width: 0px;
}

.hidden .txt {
    display: none;
}

.hidden .sidebar-box-content {
    display: none;
}
/*------------------------MENU LATERAL FINAL--------------------------*/