@charset "UTF-8";

body{
    margin: 5px;
    padding: 0;
    border: 0; 
}

#cabecalho{
    font-size: 40px;
    text-align: center;
    text-shadow:  0.1em 0.1em 0.2em rgb(59, 56, 56);
    margin-left: 240px;     
}

#titulo{
    margin-top: 0px;
}

#imagem_X-Burger {
    height:250px;
    width: 250px;
    border-radius: 50%;
    border: 5px solid #FAB819;
    right: 0px;
        
}

#imagem_X-burgerfritas {
    height:200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid black;
    position: absolute;
    right: 150px;
    margin-top: 40px;
}

#imagem_X-triplo {
    height:250px;
    width: 250px;
    border-radius: 50%;
    border: 5px solid #FAB819;
    position: absolute;
    right: 0px;
    margin-top: 200px;
    
}

.fontes_contatos{
    color: white; 
    font-size: 30px;
    padding-left: 0px;
      
}

.icone_telefone{
    display: flex;
    align-items: center;
    font-size: 40px;
    margin-left: 30px;
    
}

.icone_whats{
    display: flex;
    align-items: center;
    font-size: 40px;
    margin-left: 10px;
}

.icone_instagram {
    display: flex;
    align-items: center;
    font-size: 40px;
    margin-left: 25px;
}
   
      

